@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.dark {
  background-color: #131826;
  height: 100vh;
  color: #f8fafd;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  text-align: center;
  font-family: "Playfair Display", serif; 
}

.dark h1 {
  font-weight: 600;
  font-style: normal;
  font-size: 4rem;
  text-align: left;
  width: 100%;
  padding: 2px;
}

.lead {
  font-family: "Oswald", sans-serif; 
  font-style: normal;
  font-size: 2rem;
  text-align: left;
  width: 100%;
}

.demo-form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

input.form-control {
  flex: 1; 
  margin-right: 10px; 
  font-family: "Oswald", sans-serif; 
}

button.request {
    background-color: #D2FAB7;
    min-width: 150px; 
    color: black;
    font-family: "Inter", sans-serif; 
     font-weight: 600;
}

img {
  padding: 1rem;
  width: 60vw;
  object-fit: contain;
}

@media (max-width: 767.98px) {
  img {
    width: 100%; 
  }
}
